@charset "UTF-8";
/* 초기화 */
*{
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    font-family: "나눔스퀘어";
}

a{text-decoration: none;color: #000;}
a:hover{text-decoration: none;color: inherit !important;}
ul,li{list-style: none;}
button,input{outline: none;}
.main_480{display: none;}
#wrap{position: relative;width: 100%;overflow: hidden;}

/* 헤더 */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 5px 50px rgba(0,0,0,0.1);
    height: 100px;
    width: 100%;
    padding: 0 20px;
    z-index: 100;
}

#logo{font-size: 1.3em;}

/* 네비게이션 */
header > nav{
    height: 100%;
    width: 760px;
    justify-content: space-around;
}

header > nav > ul{height: 100%;}
.nav_dep1{position: relative;}
.nav_dep1 > a{
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.1em;
    transition: .3s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_dep1:hover > a{color: #32547B !important;}
.nav_dep2{
    position: fixed;
    background-color: #FAFAFA;
    top:100px;
    left: 0;
    padding:0 calc(50% - 420px);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav_dep1:hover .nav_dep2{height: 340px;border-top: 1px solid #ddd;border-bottom:5px solid #32547B;}
.nav_dep2 > li{
    display: inline-block;
    margin: 20px 0;
    padding:0 20px;
    font-weight: bold;
    width: 210px;
    height: 130px;
    border-right: 1px solid #ddd;
}

.nav_dep2 > li:nth-child(4){border: none;}
.nav_dep2 > li:last-child{border: none;}
.nav_dep2 > li > a{transition: .3s;width: 100%;display: block;font-size: 1.15em;}
.nav_dep2 > li > a:hover{opacity: 0.5;}
.nav_dep3{padding-left: 0.5rem;margin-top: 0.5rem;}
.nav_dep3 > li{font-weight: normal;}
.nav_dep3 > li > a{transition: .3s;display: block;width: 100%;font-size: 0.9em;}
.nav_dep3 > li > a:hover{color: #F9CB49 !important;}

/* 유틸리티 */
.util_menu > li{padding: 0 10px;border-right: 1px solid #ddd;}
.util_menu > li > a{font-size: 0.9em;transition: .3s;}
.util_menu > li:last-child{border: none;}
.util_menu > li > a:hover{color: #000; opacity: 0.5;}

#util_language{padding: 5px;border: 1px solid #ddd;border-radius: 5px;outline: none; cursor: pointer;font-size: 0.8em;font-family: "나눔스퀘어라운드" !important;}
option{font-family: "나눔스퀘어라운드" !important;}

/* 모바일 */
#util_area{flex-direction: column; align-items: flex-end;}
#menu_open_btn{cursor: pointer;transition: .3s;}
#menu_open_btn:hover{opacity: 0.5;}
#menu_open_btn > i{font-size: 2.5em;}

@media screen and (max-width:1160px){
    .main_480{display: block;}
    header > nav{
        position: fixed;
        top: 100px;
        right: -400px;
        background-color: #FAFAFA;
        width: 400px;
        height: 100%;
        transition: .3s;
    }

    header > nav > ul{
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    .nav_dep1{width: 50%;}
    .nav_dep1 > a{
        height: auto;
        justify-content: flex-start;
        margin: 20px 30px;
    }

    .nav_dep2{
        position: relative;
        padding: 0 20px;
        top: 10px;
        border-bottom: none !important;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .nav_dep2:hover{height: 340px;}
    .nav_dep2 > li > a{font-size:1.05em;}
    .nav_dep2 > li{
        margin: 5px 0;
        padding: 0;
        height: auto;
        border: none;
    }

    #util_area{
        position: fixed;
        bottom: 0;
        right: -400px;
        width: 400px;
        background-color: #eee;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        transition: .3s;
    }

    .util_menu{margin: 0 10px;}

    #menu_open:checked ~ header nav{right: 0;}
    #menu_open:checked ~ header #util_area{right: 0;}
}

/* 슬라이드 */
@keyframes image{
    0%{opacity: 0;}
    23.80952380952381%{opacity: 0;}
    33.333333333333336%{opacity: 1;}
    57.142857142857146%{opacity: 1;}
    66.66666666666667%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes text{
    0%{opacity: 0;}
    23.80952380952381%{top: -20px;opacity: 0;}
    33.333333333333336%{top:0;opacity: 1;}
    57.142857142857146%{top:0;opacity: 1;}
    66.66666666666667%{top: -20px;opacity: 0;}
    100%{opacity: 0;}
}

/* 비쥬얼 영역 */
#visual{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    position: relative;
}

#visual > *{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.visual_slide{animation: image 10.5s infinite;}
.visual_bc{background-color: rgba(0,0,0,0.3);z-index: 5;}
.visual_slide:nth-child(1){animation-delay: -3.5s;background-color: #F34E4E;}
.visual_slide:nth-child(2){animation-delay:0;background-color: #F9CB49;}
.visual_slide:nth-child(3){animation-delay:-7s;background-color: #32547B;}
.visual_text{animation: text 10.5s infinite;color: #fff;z-index: 10;}
.visual_text:nth-child(5){animation-delay:-3.5s;}
.visual_text:nth-child(6){animation-delay:0s;}
.visual_text:nth-child(7){animation-delay:-7s;}

/* 콘텐츠 */
.content{
    width: 100%;
    position: relative;
    padding: 1em;
}

.content_wrap{
    padding: 2em 0.7em;
    position: inherit;
}

.content_title_box{width: 100%;margin-bottom: 1em;}
.content_title_box > h5{font-size: 1.6em;font-weight: bold;background-color: #fff;position: relative;color: #32547B;}
.content_title_box > h5::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 4px solid #32547B;
    border-radius: 5px;
    position: absolute;
    top: -17px;
    left: -17px;
}

.content_box{position: relative;width: 100%;}

/* 새소식 */
#main_notice_area{overflow: hidden;display: inline-block;}
#main_notice_nav{display: flex;}
#main_notice_nav > label{
    font-size: 1.05em;
    font-weight: bold;
    padding: 10px 0px;
    cursor: pointer;
    transition: .3s;
    width: calc(100% / 4);
    text-align: center;
    background-color: #ddd;
}

#main_notice_nav > label:hover{opacity: 0.5;}
#main_notice_content{
    position: relative;
    min-height: 350px;
    border:2px solid #ddd;
    border-top: none;
    margin-top: -2px;
}

#main_notice_content > div{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    top: 0;
    left: 0;
    padding: 20px;
    opacity: 0;
}

.main_notice_header{
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.main_notice_header > h5{font-size: 1.5em;}
.main_notice_header > p{margin: 0;font-size: 1.05em; font-weight: bold;color: #333;}
#main_notice_content > div > p{font-size: 1.1em;}

input[value="notice_main"]:checked ~ #main_notice_nav > label[for="notice_main"]{background-color: #32547B;color: #fff;}
input[value="notice_board"]:checked ~ #main_notice_nav > label[for="notice_board"]{background-color: #32547B;color: #fff;}
input[value="notice_entry"]:checked ~ #main_notice_nav > label[for="notice_entry"]{background-color: #32547B;color: #fff;}
input[value="notice_info"]:checked ~ #main_notice_nav > label[for="notice_info"]{background-color: #32547B;color: #fff;}

input[value="notice_main"]:checked ~ #main_notice_content > div[data-type="main"]{opacity: 1;}
input[value="notice_board"]:checked ~ #main_notice_content > div[data-type="board"]{opacity: 1;}
input[value="notice_entry"]:checked ~ #main_notice_content > div[data-type="entry"]{opacity: 1;}
input[value="notice_info"]:checked ~ #main_notice_content > div[data-type="info"]{opacity: 1;}

/* 푸터 */
footer{
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10%;
}

footer *{color: #fff;}
#footer_logo{filter: brightness(400%);padding-top: 1em;}
.footer_menu{display: flex;flex-wrap: wrap;margin:0; padding: 0; padding-top: 1em; justify-content: space-between;}
.footer_menu > li {padding: 0 20px;}
.footer_menu > li > a{display: block;width: 100%;transition: .3s;}
.footer_menu > li > a:hover{opacity: 0.5;}
#copyright{width: 100%;margin-top: 1.5em;font-size: 0.9em;}
